<!DOCTYPE html><html><head><meta charset="utf-8"/>    <meta name="viewport"
                                                            content="width=device-width, minimum-scale=1, maximum-scale=1"/>    <meta
        http-equiv="Content-Type" content="text/html; charset=utf-8"/>    <meta http-equiv='cache-control'
                                                                                content='no-cache'/>    <meta
        http-equiv='expires' content='0'/>    <meta http-equiv='pragma' content='no-cache'/>    <meta
        http-equiv="X-UA-Compatible" content="IE=EmulateIE11"/>    <link rel="icon"
                                                                         href="https://kampus.izu.edu.tr/js/favicon.ico"
                                                                         type="image/x-icon"/>    <link
        rel="shortcut icon" href="https://kampus.izu.edu.tr/js/favicon.ico" type="image/x-icon"/>    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css"
        rel="stylesheet"/>    <!-- JAVASCRİPT CLASS YAPISI EKLEME    <script type="text/javascript" src="https://kampus.izu.edu.tr/js/MooTools-Core-1.6.0.js?v=1.0.69"></script>-->    <link
        href="https://kampus.izu.edu.tr/tema/tema2/bootstrap/css/bootstrap.min.css?v=1.0.69" rel="stylesheet"
        type="text/css"/>    <!-- Theme -->    <link id="LnkMainTema"
                                                     href="https://kampus.izu.edu.tr/tema/tema2/assets/css/main.css?v=1.0.69"
                                                     rel="stylesheet" type="text/css"/>    <!-- AJAXP5 -->    <link
        rel="stylesheet" href="https://kampus.izu.edu.tr/js/complete.css?v=1.0.69" type="text/css"/>    <link
        rel="stylesheet" href="https://kampus.izu.edu.tr/js/loading_bar/load.css?v=1.0.69" type="text/css"/>    <link
        rel="stylesheet"
        href="https://kampus.izu.edu.tr/js/jquery_custom/css/stk_custom/jquery-ui-1.10.4.custom.css?v=1.0.69">   <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/js/jquery_custom/js/jquery-1.10.2.js?v=1.0.69"></script>   <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/js/jquery-1.11.1.min.js?v=1.0.69"></script>    <!-- <script type="text/javascript" src="https://kampus.izu.edu.tr/js/jquery.min.js?v=12"></script>-->    <script
        type="text/javascript" src="https://kampus.izu.edu.tr//js/jquery-ui.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/complete.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/animation.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/JSON.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/AJAXP.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/up.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/up2.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/jquery.form.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/History.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/js/device.type.js?v=1.0.69"></script>    <!-- JAVASCRİPT CLASS YAPISI EKLEME -->    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/jquery.maskMoney.min.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/jquery.mask.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/jspdf/html2canvas.js?v=1.0.69"
        charset="UTF-8"></script>    <script type="text/javascript"
                                             src="https://kampus.izu.edu.tr/js/jspdf/jspdf.min.js?v=1.0.69"
                                             charset="UTF-8"></script>    <!-- AJAXP5 -->    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/load.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/jquery.cookie.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/FileSaver.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/jquery.ajax-progress.js?v=1.0.69"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/step/jquery.steps.min.js?v=1.0.69"></script>    <link
        rel="stylesheet"
        href="https://kampus.izu.edu.tr/js/step/jquery.steps.css?v=1.0.69">    <!-- TEMA INCLUDE -->    <link
        href="https://kampus.izu.edu.tr/tema/tema2/assets/css/plugins.css?v=1.0.69" rel="stylesheet"
        type="text/css"/>    <link href="https://kampus.izu.edu.tr/tema/tema2/assets/css/responsive.css?v=1.0.69"
                                   rel="stylesheet" type="text/css"/>    <link
        href="https://kampus.izu.edu.tr/tema/tema2/assets/css/icons.css?v=1.0.69" rel="stylesheet"
        type="text/css"/>    <!-- Login -->    <link
        href="https://kampus.izu.edu.tr/tema/tema2/assets/css/login.css?v=1.0.69" rel="stylesheet"
        type="text/css"/>    <link rel="stylesheet"
                                   href="https://kampus.izu.edu.tr/tema/tema2/assets/exten/fontawesome/css/font-awesome.min.css?v=1.0.69">    <link
        rel="stylesheet"
        href="https://kampus.izu.edu.tr/tema/tema2/assets/exten/fontawesome/css/font-awesome-animation.min.css?v=1.0.69">    <!--[if IE 7]>    <link rel="stylesheet" href="https://kampus.izu.edu.tr/tema/tema2/assets/css/fontawesome/font-awesome-ie7.min.css?v=1.0.69">    <![endif]-->    <!--[if IE 8]>    <link href="https://kampus.izu.edu.tr/tema/tema2/assets/css/ie8.css?v=1.0.69" rel="stylesheet" type="text/css" />    <![endif]-->    <link
        href="https://kampus.izu.edu.tr/tema/tema2/plugins/contextmenu/jquery.contextMenu.css" rel="stylesheet"
        type="text/css"/>    <!--=== JavaScript ===    <script type="text/javascript" src="https://kampus.izu.edu.tr/tema/tema2/assets/js/libs/jquery-1.10.2.min.js?v=12"></script>    -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/bootstrap/js/bootstrap.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/assets/js/libs/lodash.compat.min.js?v=1.0.69"></script>    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->    <!--[if lt IE 9]>    <script src="https://kampus.izu.edu.tr/tema/tema2/assets/js/libs/html5shiv.js?v=1.0.69"></script>    <![endif]-->    <!-- Beautiful Checkboxes -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/uniform/jquery.uniform.min.js?v=1.0.69"></script>    <!-- Form Validation-->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/validation/jquery.validate.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/validation/localization/messages_tr.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/validation/additional-methods.min.js?v=1.0.69"></script>    <!-- Slim Progress Bars -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/nprogress/nprogress.js?v=1.0.69"></script>    <!-- App -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/assets/js/login.js?v=1.0.69"></script>    <!-- Smartphone Touch Events -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/touchpunch/jquery.ui.touch-punch.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/event.swipe/jquery.event.move.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/event.swipe/jquery.event.swipe.js?v=1.0.69"></script>    <!-- General -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/assets/js/libs/breakpoints.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/respond/respond.min.js?v=1.0.69"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/cookie/jquery.cookie.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/slimscroll/jquery.slimscroll.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/slimscroll/jquery.slimscroll.horizontal.min.js?v=1.0.69"></script>    <!-- Page specific plugins -->    <!-- Charts -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/sparkline/jquery.sparkline.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/daterangepicker/moment.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/daterangepicker/daterangepicker.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/blockui/jquery.blockUI.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/select2/select2.min.js?v=1.0.69"></script> <!-- Styled select boxes -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/select2/select2_locale_tr.js?v=1.0.69"></script> <!-- Styled select boxes -->    <!-- DataTables -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/datatables/jquery.dataTables.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/datatables/tabletools/TableTools.min.js?v=1.0.69"></script> <!-- optional -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/datatables/colvis/ColVis.js?v=1.0.69"></script> <!-- optional -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/datatables/DT_bootstrap.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/datatables/responsive/datatables.responsive.js?v=1.0.69"></script>    <!-- DateTimePicker -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr//js/datetime/js/bootstrap-datepicker.min.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr//js/datetime/locales/bootstrap-datepicker.tr.min.js?v=1.0.69"></script>    <link
        id="bsdp-css" href="https://kampus.izu.edu.tr//js/datetime/css/bootstrap-datepicker.css?v=1.0.69"
        rel="stylesheet">    <!-- DateTimePicker -->    <script type="text/javascript"
                                                                src="https://kampus.izu.edu.tr//js/dttime/moment-with-locales.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr//js/dttime/bootstrap-datetimepicker.js?v=1.0.69"></script>    <link id="bsdp-css"
                                                                                                           href="https://kampus.izu.edu.tr//js/dttime/bootstrap-datetimepicker.css?v=1.0.69"
                                                                                                           rel="stylesheet">    <!--theme son -->    <!-- Forms -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/uniform/jquery.uniform.min.js?v=1.0.69"></script> <!-- Styled radio and checkbcheckboxes -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/select2/select2.min.js?v=1.0.69"></script> <!-- Styled select boxes -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/fileinput/fileinput.js?v=1.0.69"></script>    <!-- Noty -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/noty/jquery.noty.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/noty/layouts/top.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/noty/themes/default.js?v=1.0.69"></script>    <!-- Nestable List -->    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/plugins/nestable/jquery.nestable.min.js"></script>    <!-- App -->    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/tema/tema2/assets/js/app.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/assets/js/plugins.js?v=1.0.69"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/tema/tema2/assets/js/plugins.form-components.js?v=1.0.69"></script>    <link
        rel="stylesheet" href="https://kampus.izu.edu.tr/js/jqwidgetsnew/styles/jqx.base.css" type="text/css"/>    <link
        rel="stylesheet" href="https://kampus.izu.edu.tr/js/jqwidgetsnew/styles/jqx.metro.css"
        type="text/css"/>    <script type="text/javascript"
                                     src="https://kampus.izu.edu.tr/js/jqwidgetsnew/jqxcore.js"></script>    <script
        type="text/javascript" src="https://kampus.izu.edu.tr/js/jqwidgetsnew/jqx-all.js"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/js/jqwidgetsnew/globalization/globalize.js"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/js/jqwidgetsnew/globalization/globalize.culture.tr-TR.js"></script>    <script
        type="text/javascript"
        src="https://kampus.izu.edu.tr/js/jqwidgetsnew/globalization/localization.js"></script>        <script
        src="https://kampus.izu.edu.tr/js/ckeditor/ckeditor.js?v=1.0.69"></script>    <script
        src="https://kampus.izu.edu.tr/js/ckeditor/adapters/jquery.js?v=1.0.69"></script>    <script
        src="https://kampus.izu.edu.tr/js/linq.min.js?v=1.0.69"></script>    <script type="text/javascript"
                                                                                     src="https://kampus.izu.edu.tr/js/excelexportjs.js?v=1.0.69"></script>    <script>        function c_browser() {
    if ($.browser.version != 0 && (($.browser.msie && $.browser.version * 1 < 11) || ($.browser.chrome && $.browser.version.substr(0, 2) * 1 < 35) || ($.browser.mozilla && $.browser.version.substr(0, 2) * 1 < 28) || ($.browser.opr && $.browser.version.substr(0, 2) * 1 < 20) || ($.browser.opr && $.browser.version.substr(0, 2) * 1 < 7))) {
        window.location.href = "https://kampus.izu.edu.tr/js/browser/";
    }
}

$$ = {
    link: 'https://kampus.izu.edu.tr/m.php?sid=&m=', mm: function (m, d, p) {
        AJAXP.post($$.link + m, 'kod=' + d, p, false);
        $$.analistik();
    }, mm_file: function (m, d, p, id) {
        AJAXP.post($$.link + m, 'kod=' + d, p, id);
        $$.analistik();
    }, C: {}, analistik: function () {
        try {
            ga('set', {page: $(location).attr('href').replace($$.sitelink, ''), title: document.title});
            ga('send', 'pageview');
        } catch (e) {
        }
    }, load: function () {
        AJAXP.islem.AJAXSUC({
            "form_data": [],
            "islem_fnc": [{"a": "var fk_st0=function (){\nHistory.navigateToPath(\"\\\/\\\/kampus.izu.edu.tr:443\\\/login\",\"Kamp\\u00fcs Bilgi Sistemi\");\n }; \n try{\r\n                  fk_st0(); delete fk_st0;\r\n                   }catch(e){  }"}, {"a": "var fk_st1=function (){\nvar a=$('#body_load').html_o(({\"a\":\"<style>\\r\\n    #showEye:hover {\\r\\n        cursor: pointer;\\r\\n    }\\r\\n<\\\/style>\\r\\n<div class=\\\"login\\\">\\r\\n    <!-- Logo -->\\r\\n    <div class=\\\"logo\\\">\\r\\n        <img src=\\\"\\\/\\\/kampus.izu.edu.tr:443\\\/LOGO\\\/maillogo.png\\\" alt=\\\"logo\\\" \\\/><br>\\r\\n        <img src=\\\"\\\/\\\/kampus.izu.edu.tr:443\\\/tema\\\/tema2\\\/assets\\\/img\\\/logo.png\\\" alt=\\\"logo\\\" \\\/>\\r\\n        <strong>Kamp\\u00fcs Bilgi Sistemi<\\\/strong>\\r\\n    <\\\/div>\\r\\n    <!-- \\\/Logo -->\\r\\n\\r\\n    <!-- Login Box -->\\r\\n    <div class=\\\"box\\\">\\r\\n        <div class=\\\"content\\\">\\r\\n            <!-- Login Formular -->\\r\\n\\r\\n            <form id=\\\"LoginForm\\\" name=\\\"LoginForm\\\" model=\\\"LoginForm\\\" action=\\\"#\\\"  class=\\\"form-vertical\\\"  onsubmit=\\\"logined();return false;\\\">\\r\\n\\r\\n                <!-- Title -->\\r\\n                <h3 class=\\\"form-title\\\">Giri\\u015f Bilgilerinizi Giriniz<\\\/h3>\\r\\n\\r\\n                <!-- Error Message -->\\r\\n                <div class=\\\"alert fade in alert-danger\\\" style=\\\"display: none;\\\">\\r\\n                    <i class=\\\"fa fa-times close\\\" data-dismiss=\\\"alert\\\"><\\\/i>\\r\\n                    L\\u00fctfen e-mail ve \\u015fifrenizi giriniz.<br>\\r\\n                    Enter any e-mail and password.\\r\\n                <\\\/div>\\r\\n\\r\\n                <!-- Input Fields -->\\r\\n                <div class=\\\"form-group\\\">\\r\\n                    <!--<label for=\\\"username\\\">Username:<\\\/label>-->\\r\\n                    <div class=\\\"input-icon\\\">\\r\\n                        <i class=\\\"fa fa-user\\\" style=\\\"margin: 2px 10px;\\\"><\\\/i>\\r\\n                        <input type=\\\"text\\\" name=\\\"username\\\" id=\\\"user_name\\\" model=\\\"LoginForm\\\" disabled class=\\\"form-control\\\" placeholder=\\\"adi.soy@std.izu.edu.tr\\\" autofocus=\\\"autofocus\\\" data-rule-required=\\\"true\\\" data-msg-required=\\\"E-mail adresinizi giriniz<br>ogrenci@std.izu.edu.tr<br>Please enter your e-mail.\\\" \\\/>\\r\\n                    <\\\/div>\\r\\n                <\\\/div>\\r\\n                <div class=\\\"form-group\\\">\\r\\n                    <!--<label for=\\\"password\\\">Password:<\\\/label>-->\\r\\n                    <div class=\\\"input-icon\\\">\\r\\n                        <i class=\\\"fa fa-lock\\\" style=\\\"margin: 2px 10px;\\\"><\\\/i>\\r\\n                        <i id=\\\"showEye\\\" class=\\\"fa fa-eye\\\" style=\\\"margin: 3px 265px;\\\" onmousedown=\\\"GizleAc(event);\\\" onmouseup=\\\"GizleAc(event);\\\"><\\\/i>\\r\\n                        <input type=\\\"password\\\" name=\\\"password\\\" id=\\\"user_pas\\\" model=\\\"LoginForm\\\" disabled class=\\\"form-control\\\" placeholder=\\\"\\u015eifre - Password\\\" data-rule-required=\\\"true\\\" data-msg-required=\\\"\\u015eifre Bo\\u015f Ge\\u00e7ilemez<br>Please enter your password.\\\" \\\/>\\r\\n                    <\\\/div>\\r\\n                    <span id=\\\"capsAlert\\\" style=\\\"color: red; display: none;\\\">Capslock A\\u00e7\\u0131k \\\/ On<\\\/span>\\r\\n                <\\\/div>\\r\\n                <div class=\\\"form-actions\\\">\\r\\n                    <label class=\\\"checkbox pull-left\\\"><input id=\\\"user_hatirla\\\" name=\\\"user_hatirla\\\" model=\\\"LoginForm\\\"  type=\\\"checkbox\\\" class=\\\"uniform\\\" name=\\\"remember\\\"><span style=\\\"margin-top: -7px;position: fixed;\\\">Beni hat\\u0131rla<br>Remember me<\\\/span><\\\/label>\\r\\n                <\\\/div>\\r\\n                                <!-- \\\/Input Fields -->\\r\\n\\r\\n                <!-- Form Actions -->\\r\\n                <div class=\\\"form-actions\\\">\\r\\n                    <!--label class=\\\"checkbox pull-left\\\"><input id=\\\"user_hatirla\\\" type=\\\"checkbox\\\" class=\\\"uniform\\\" name=\\\"remember\\\"><span style=\\\"margin-top: -7px;position: fixed;\\\">Beni hat\\u0131rla<br>Remember me<\\\/span><\\\/label-->\\r\\n                    <button type=\\\"submit\\\" class=\\\"submit btn btn-primary pull-right\\\">\\r\\n                        Giri\\u015f - Sign In <i class=\\\"fa fa-angle-right\\\"><\\\/i>\\r\\n                    <\\\/button>\\r\\n                <\\\/div>\\r\\n            <!-- \\\/Login Formular -->\\r\\n            <\\\/form>\\r\\n\\r\\n            <!-- \\\/Register Formular -->\\r\\n        <\\\/div> <!-- \\\/.content -->\\r\\n\\r\\n        <div class=\\\"inner-box\\\">\\r\\n            <div class=\\\"content\\\">\\r\\n                <i class=\\\"fa fa-times close hide-default\\\"><\\\/i>\\r\\n\\r\\n                <a href=\\\"https:\\\/\\\/kampus.izu.edu.tr\\\/ParolaSifirlama\\\" target=\\\"_blank\\\" class=\\\"forgot-password-links\\\">\\r\\n                    Hesap olu\\u015ftur yada \\u015fifre s\\u0131f\\u0131rla<br>Create new user or forgot password\\r\\n                <\\\/a>\\r\\n                <form id=\\\"parola_sifirla\\\" class=\\\"form-vertical forgot-password-form hide-default\\\" method=\\\"post\\\"  onsubmit=\\\"$('#parola_sifirla').trigger('click'); return false; \\\">\\r\\n                    <div class=\\\"form-group\\\">\\r\\n                        <div class=\\\"input-icon\\\">\\r\\n                            <i class=\\\"fa fa-user-md\\\"><\\\/i>\\r\\n                            <input type=\\\"text\\\" id=\\\"TCKimlikNo\\\" name=\\\"TCKimlikNo\\\" class=\\\"form-control\\\" placeholder=\\\"adi.soy@std.izu.edu.tr User identity id - TC kimlik\\\" data-rule-required=\\\"true\\\" maxlength=\\\"11\\\" data-msg-required=\\\"Please enter your User identity id .<br>L\\u00fctfen TC kimlik numaran\\u0131z\\u0131 giriniz.\\\" \\\/>\\r\\n                        <\\\/div><br>\\r\\n                        <div class=\\\"input-icon\\\">\\r\\n                            <i class=\\\"fa fa-phone-square\\\"><\\\/i>\\r\\n                            <input type=\\\"text\\\" id=\\\"TelefonNo\\\" name=\\\"TelefonNo\\\" class=\\\"form-control\\\" placeholder=\\\"(5xxxxxxxxxx) Phone number - Telefon numaras\\u0131\\\" data-rule-required=\\\"true\\\" maxlength=\\\"10\\\" data-msg-required=\\\"Please enter your phone number.<br>L\\u00fctfen telefon numaran\\u0131z\\u0131 giriniz.\\\" \\\/>\\r\\n                        <\\\/div>\\r\\n                    <\\\/div>\\r\\n\\r\\n                    <button type=\\\"submit\\\" class=\\\"submit btn btn-default btn-block\\\">\\r\\n                        Send New Password - Yeni \\u015fifre g\\u00f6nder\\r\\n                    <\\\/button>\\r\\n                <\\\/form>\\r\\n                <div class=\\\"forgot-password-done hide-default\\\">\\r\\n                    <i class=\\\"icon-ok success-icon\\\"><\\\/i>\\r\\n                    <span>Your password has been sent as SMS<br>\\u015eifreniz SMS olarak g\\u00f6nderilmi\\u015ftir<\\\/span>\\r\\n                <\\\/div>\\r\\n            <\\\/div>\\r\\n        <\\\/div>\\r\\n\\r\\n    <\\\/div>\\r\\n\\r\\n<\\\/div>\\r\\n<script>\\r\\n    Login.init();\\r\\n    $$.link='https:\\\/\\\/kampus.izu.edu.tr\\\/login?';\\r\\n\\r\\n    function logined() {\\r\\n        $$.loading(decodeURIComponent('1'),decodeURIComponent('L%C3%BCtfen%20Bekleyiniz'));$$.modelsend.set_ajax('LoginForm','BV5ue3YQ8Ej%2BPRNIUhL5Pc0cpl1Nq62gpzH6Zg3ZV7k%3D','Fmg7R6frDbhYHY9dwwScBBjp9iTZGGow7T%2BFyhI0tqQ%3D&','');        return false;\\r\\n    }\\r\\n\\r\\n    function GizleAc(ev) {\\r\\n        if (ev.type == 'mousedown') {\\r\\n            $('#showEye').removeClass('fa-eye');\\r\\n            $('#showEye').addClass('fa-eye-slash');\\r\\n            $('#user_pas').attr('type', 'text');\\r\\n        }else {\\r\\n            $('#showEye').removeClass('fa-eye-slash');\\r\\n            $('#showEye').addClass('fa-eye');\\r\\n            $('#user_pas').attr('type', 'password');\\r\\n        }\\r\\n    }\\r\\n\\r\\n\\r\\n\\r\\n    function isCapslock(e){\\r\\n\\r\\n        var isShift = false;\\r\\n        if (window.event) {\\r\\n            key = window.event.keyCode;\\r\\n            isShift = !!window.event.shiftKey;\\r\\n            if (isShift === true) {\\r\\n                return isShift;\\r\\n            }\\r\\n        }\\r\\n\\r\\n        var s = String.fromCharCode( e.which );\\r\\n        if ( s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey ) {\\r\\n            return true;\\r\\n        }\\r\\n        return false;\\r\\n    }\\r\\n\\r\\n    function enable() {\\r\\n        $('input').prop( \\\"disabled\\\", false );\\r\\n    }\\r\\n\\r\\n    setTimeout(enable,200);\\r\\n\\r\\n    window.loadsystem.last_modif();\\r\\n\\r\\n    $( document ).ready(function() {\\r\\n        $('#user_pas').keypress(function (e) {\\r\\n            var a = isCapslock(e);\\r\\n            if (a === true) {\\r\\n                $('#capsAlert').css('display', '');\\r\\n            }else {\\r\\n                $('#capsAlert').css('display', 'none');\\r\\n            }\\r\\n        });\\r\\n    });\\r\\n\\r\\n    <\\\/script>\"}).a);\n }; \n try{\r\n                  fk_st1(); delete fk_st1;\r\n                   }catch(e){  }"}, {"a": "var fk_st2=function (){\n$$.dialog.clear(decodeURIComponent('pdfViewer'));\n }; \n try{\r\n                  fk_st2(); delete fk_st2;\r\n                   }catch(e){  }"}, {"a": "var fk_st3=function (){\n$$.dialog.add(\"pdfViewer\",{html:\"\",clcbutton:true,fullscreen:false,autoOpen:false,closeOnEscape: true,full:true,onLoad:function(){\r\n            try{\r\n            eval(\"$$.dialog.hide(\\\"pdfViewer\\\");\")\r\n            }catch(e){}\r\n\r\n            },close:function(){\r\n            try{\r\n                eval(\"\");\r\n            }catch(e){}\r\n            },title:\"\",modal:false, minWidth:800 });\n }; \n try{\r\n                  fk_st3(); delete fk_st3;\r\n                   }catch(e){  }"}]
        });
    }, mm_files: function (select, m, d, selectform, data, method, ModelData) {
        AJAXP.upload.file_send(select, selectform, /*+'&'+data*/                    $$.link + m, 'kod=' + d, method, data, function () {
            $$.loading(1, 'Yükleniyor...');
        }, "#Loadingmesaj", ModelData);
    }, sitelink: "https:\/\/kampus.izu.edu.tr\/", cikis: function () {
        try {
            $$.mm('BV5ue3YQ8Ej%2BPRNIUhL5Pc0cpl1Nq62gpzH6Zg3ZV7k%3D', 'oUMAPqJPga4KazcwYpWlhRHjV14ucWahCW9GG2fLDRw%3D&', '');
        } catch (e) {
        }
    }
};
$(document).ready(function () {
    $.jqx.theme = "metro";
    window.loadsystem.main();
    window.loadsystem.last_modif();
    $$.load();
});    </script>    <script>        (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-99220461-1', 'auto');
ga('send', 'pageview');    </script></head>

<body onload="c_browser();" style="overflow-y: hidden !important;"><div onabort="$$.cikis();" id="body_load"
                                                                        style="width: 100%;top: 0px;bottom: 0px; padding-bottom: 50px !important; overflow-y: scroll !important; left: 0px;right: 0px; position: absolute;z-index: 0;padding: 0;margin: 0;"></div>

<div id="loadingBox" style="display: none;"><div
        style="position: fixed;top: 0px;bottom: 0px;left: 0px;right: 0px;background-color: rgb(190, 186, 186);opacity: 0.4;filter: alpha(opacity=40);z-index: 9999999"></div>

    <div style="width: 100px; height: 100px;z-index: 9999999;position: fixed;top:0;bottom: 0;left: 0;right: 0;margin: auto;"><div
            class="spinnerLoadBox windcatcher" id="windcatcher"><div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div>

        <div class="blade"></div></div>

        <h2><div id="Loadingmesaj"
                 style="position: inherit; z-index: 99999999; text-align: center;margin-left: -45px; margin-top: -15px; color: #000000; font-weight: bold;"></div>
        </h2></div></div><iframe src="https://kampus.izu.edu.tr/print.php" id="yazdirdiv"
                                 style="display: none"></iframe>

<div class="sayfaFooter"><h4
        style="font-size: 13px; font-family: Helvetica;">İstanbul Sabahattin Zaim Üniversitesi Bilgi İşlem Daire Başkanlığı ©2018</h4>
</div></body></html>